*{
    padding: 0;
    margin: 0;
}
/* declaring your variables here ensures they are available globaly */
:root{
  --font-family: 'Poppins';
  --font-style: normal;

}
/* icons */
.fa-brands:hover{
  background-color: #00C0FD;
}
/* project :hover */

 .project-hover:hover{
  background-color: rgb(240, 232, 232);
 }
.header{
  margin-top: 41px;
}
.header-links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-links li{
  display: flex;
  margin: 18px;
  color: #666666;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
.header-links li a:hover{
  
  background-color: #00C0FD;
}
.header-links li a{
  color: #666666;
  text-decoration: none;


}

.header-links li:nth-child(7){
  margin-left: 51px;
  /* background-color: red; */
}
.header-links li:nth-child(1){
  margin-right: 306px;
}
.header-links li:nth-child(8 ){
  margin: 20px

}
.name {
  font-family: 'Poppins';
 font-style: normal;
 font-weight: 700;
 font-size: 58px;
 line-height: 70px;
 align-items: center;
 letter-spacing: -1px;
 color: #42446E;
 /* color: red; */
 margin-right: 219px;
 margin-left: 177px;
}
.name-section {
  display: flex;
  margin-top: 265px;

}
.personal-image{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #E70FAA 0%, #00C0FD 100%);

  border-radius: 230px;
  border: 9px solid;

  border-image-source: linear-gradient(180deg, #E70FAA 0%, #00C0FD 100%);




}
.image-box{
  margin-right: 219px;
  height: 349px;
  width: 349px;
}
.tech-stack{
  margin-top: 348px;
}
.tech-stack-content{
  text-align: center;


}
.tech-stack-title{
  font-family: 'Poppins';
 font-style: normal;
 font-weight: 700;
 font-size: 48px;
 line-height: 26px;
 color: #42446E;
}
.tech-stack-para{
  font-family: 'Poppins';
 font-style: normal;
 font-weight: 400;
 font-size: 32px;
 line-height: 26px;
 color: #666666;
 margin-top: 49px;
 margin-bottom: 140px;
}


.technologies {
  order: 4;

  display: flex;
  /* gap: 10px 20px; */
  flex-direction: row;
  flex-wrap: wrap;

  
  justify-content: center;
  align-items: center;
  
}
.technologies li{

  display: flex;
  order: 5;

  
  margin: 48px;

}
/* .technologies li + li{
  /* margin: 10px; */
  /* flex-wrap: wrap; */

 /* */ */
.html{
  /* position: relative; */
  width: 120px;
  height: 120px;
  /* margin-left: 243.9px; */
  /* background: #EBEBEB; */
  /* border: none; */
}
.kala{
  
  font-size: 100px;
  
  color: #ff3300;
}
.css{
  width: 120px;
  height: 119px;
  color: blue;
  font-size: 100px;

}
.js{
  width: 120px;
  height: 120px;
  color: yellow;
  font-size: 100px;

}
.react{
  height: 113px;
  width: 102px;
  font-size: 100px;
  color: #00C0FD;
}
.git{
  font-size: 100px;
  color: #ff3300;
}
.github{
  font-size: 100px;
}
.ruby{
  
  font-size: 100px;
}
.common-languages{
  width: 120px;
  height: 120px;
  font-size: 200px;
}

.projects{
  margin-top: 214px;

}
.project-details{
  margin-left: 28px;
  align-items: center;
  /* margin-right: 31px; */
}
.projects-titles{
  text-align: center;
}
.project-title{
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 26px;
  color: #42446E;
  margin-bottom: 49px;

}
.project-para{
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 26px;
  color: #666666;
  margin-bottom: 96px;
}
.project-1{
  margin-left: 20px;
  position: relative;
  width: 373px;
  height: 567px;
  /* background-color: #00C0FD; */
  background: #FFFFFF;
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-image: url(/images/Zuric_project.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.project-2{
  background-image: url(/images/med1.jpg);
}
.project-3{
  background-image: url(/images/log-final-copy.png);

}
.project-4{
  background-image: url(/images/delete-react-final-cop.png);



}
.project-5{
  background-image: url(/images/WiseLeger_website.png);
}
.image{
  width:375px;
  height: 260px;
}
.project-details{
  position: absolute;
  top: 36%;

}
.project-details h3{
  font-family: 'Poppins';
 font-style: normal;
 font-weight: 500;
 font-size: 28px;
 line-height: 26px;
 text-align: center;
 color: #000000;
 margin: 27px 0 17px 0;
}
.project-para-two{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #666666;
  display: flex;
  align-items: center;
  margin-bottom: 12px;

}
.stack-para{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #42446E;
}
.live-view{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: 21px ;
}
/* .live-view a{
  text-decoration: none;
} */
.live-view li{
  display: flex;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-decoration-line: underline
}
.github-view{
  margin-right: 12px;
}
.live-preview{
  margin-right: 10px;
  
}
.projects-pictures ul li{
  display: flex;
  order: 3;

}

.projects-pictures-ul{
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  gap: 20px;
  
  /* margin-right: 47px; */
  /* flex-direction: row; */
  
}

.contact-section{
  margin-top: 225px;
  margin-bottom: 53px;
}
.contact-list{
  display: flex;
  justify-content: center;
}
.contact-list li {
  display: flex;
  margin: 10px;

}
.contact-list li:nth-child(2){
  margin-right: 48px;
}
.contact-list li:nth-child(1){
  margin-left: 774px;

}
.footer{
  margin-top: 59.3px;
  margin-bottom: 50px;
}
.footer-links{
  display: flex;
  justify-content: center;
}
.footer-links li{
  display: flex;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #42446E;
  

}
.footer-links li a{
  color: #42446E;
  text-decoration: none;


}
.footer-links li + li {
  margin-right: 52px;
}
.footer-links li:nth-child(5){
  margin-right: 176px;

}
.footer-links li:nth-child(1){
  margin-right: 52px;
}
/* to hide navbar on mobile page */

.hidden-elements {
  display: none;
}

/* about page style */
.about-title{
  font-family: 'Poppins';
  font-style: normal;
 font-weight: 700;
 font-size: 58px;
 line-height: 70px;
 text-align: center;
letter-spacing: -1px;

color: #1E0E62;
}
/* mobile styles */
@media screen and (min-width: 600px) {
  .home{
    display: none;
  }
  
  
  
}
/* home menu */


.hide {
  display: none;
}

